
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<hr />
<p>
    This package was developed by Berke Kurnaz in June 2020.
</p>
<p>
    This package has been developed in order to load, update and delete files more easily in .Net core projects.
</p>
<p>
    It is completely free and open source
</p>
<p>
    <b>Contact : </b> contact@berkekurnaz.com
</p>

