
@{
    ViewData["Title"] = "Developers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Developers</h2>
<hr />

<h5>Berke Kurnaz</h5>
<a href="https://github.com/berkekurnaz"> Github Page</a>
<a href="http://berkekurnaz.com/"> Website</a>